.panel {
    position: relative;
    left: -10px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.panel hr {
    margin: 3vh auto;
    align-items: center;
	width: 85%;
    opacity: 0.4;
}

.panel h1 {
	text-align: center;
}
